/* frontend/src/assets/css/main.css */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --bg-main: #0B0C15;
  --bg-card: #13141F;
  --border-dark: #1F2937;

  --gradient-brand: linear-gradient(90deg,#9333EA,#EC4899);
  --gradient-primary: linear-gradient(90deg,#6366F1,#A855F7);

  --text-muted: #9CA3AF;
}

body {
  background: var(--bg-main);
  color: white;
  font-family: 'Inter','Kanit',sans-serif;
}

